/* My CSS */
#container {
  width: 85%;
  padding-left: 50px;
  padding-right: 40px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ff8270 100%
  );
}

/* default */
#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn {
  background-image: linear-gradient(
    to right,
    #b31f81 0%,
    #be5869 51%,
    #403a3e 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  /* display: block; */
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #ffffff;
  text-decoration: none;
}

.history {
  margin-top: 30px;
  text-align: left;
}

.advice {
  font-size: 36px;
  font-weight: bold;
}
